.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background: #99ccff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-size: 1.5em;
  margin: 2em auto;
  padding: 1em;
  width: 400px;
}

.App ul {
  text-align: left;
}

.App ul li {
  margin-bottom: 0.5em;
}

